.dressCarousel {
  width: 600px;
}
.smallImg {
  width: 150px;
  height: 150px;
}

.bigImg {
  width: 300px;
  height: 300px;
}
.addDiv {
  width: 150px;
  height: 150px;
  /* border: solid black 2px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(127, 140, 160, 0.226);
}

.addDiv:hover {
  background-color: rgba(117, 117, 117, 0.479);
}

.imageDivInCarousel {
  position: relative;
}
.trash {
  position: absolute;
  top: 115px;
  right: 45px;
  font-size: 25px;
  width: 1px;
  height: 1px;
}
.trash:hover {
  color: red;
}
.chevrons {
  font-size: 40px;
  color: rgb(53, 53, 53);
}
.carouselWithHeader {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 20px;
  /* border-top: 4px solid rgb(95, 86, 86); */
}
.carouselHeader {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel {
  width: 600px;
}
