.mylookswrapper {
  margin: auto;
  width: 40%;
  padding: 10px;
}

h2 {
  color: black;
}

.multi-photo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  float: left;
}

.photo-container {
  float: left;
  width: 220px;
}

.photo-container img {
  width: 200px;
  height: 200px;
}

.wrapper {
  width: 220px;
  margin-left: 5px;
}

.look {
  border: solid black 5px;
  margin-bottom: 40px;
  border-radius: 10px;
  width: 600px;
  height: 220px;
  padding-top: 5px;
}

.tag {
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.tags {
  justify-content: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

.links {
  justify-content: end;

}