.mylookswrapper {
  margin: auto;
  width: 40%;
  padding: 10px;
}

.multi-photo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  float: left;
}

.multi-photo-container img {
  width: 100px;
  height: 100px;
}

.photo-container {
  float: left;
  width: 220px;
}

.photo-container img {
  width: 200px;
  height: 200px;
}

.wrapper {
  width: 220px;
  margin-left: 5px;
}

.editLink {
  margin-top: 2px;
  color: black;
  font-size: 25px;
}

.deleteLink {
  font-size: 25px;
}

.editLink:hover {
  color: green
}

.deleteLink:hover {
  color: red;
}

.look {
  border: solid gray 3px;
  margin-bottom: 40px;
  border-radius: 10px;
  width: 600px;
  height: 220px;
  padding-top: 5px;
  position: relative;
}

.tag {
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.tags {
  justify-content: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

.links {
  position: absolute;
  bottom: -8px;
  right: 5px
}

.test {
  background-color: #343a40;
  color: white;
}