.lookatmy {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.video {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutContainer {
  display: flex;
  justify-content: center;
}
.olesyaHeader {
  display: flex;
  justify-content: center;
}

.card {
  width: 400px;
}
.slider {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
