@import '~bootstrap/scss/bootstrap';

#login {
  margin-top: 10%;
  padding: 20px;
  width: 300px;
  border: 2px solid rgb(0, 119, 255);
  border-radius: 4px;
  box-shadow: 0 20px 100px 10px rgba(0, 0, 0, 0.521);
}

.googleIcon {
  margin-right: 10px;
  margin-top: 0px;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 3px;
}

#googleButton {
  padding: 1px;
  padding-right: 10px;
}

.div-table {
  margin-top: 50px;
}
