@import '~bootstrap/scss/bootstrap';

#login {
  margin-top: 10%;
  padding: 20px;
  width: 300px;
  border: 2px solid rgb(0, 119, 255);
  border-radius: 4px;
  box-shadow: 0 20px 100px 10px rgba(0, 0, 0, 0.521);
}

.div-table {
  margin-top: 50px;
}
